*{box-sizing: border-box;}
body{background-color: hsl(47, 88%, 63%);}
.attribution {font-size: 11px; 
    text-align: center;
}
.attribution a {color: hsl(228, 45%, 44%);
    text-decoration: none;
}
.container{display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: aqua;
}
.card{background-color: hsl(0, 0%, 100%);
    border: solid hsl(0, 0%, 7%) 1px;
    border-radius: 5%;
    height: auto;
    max-width: 369px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
}
.svg svg{border-radius: 5%;}

.photo{display: flex;
    flex-direction: row;
    justify-content: start;
}



.divisor{height: 30px;
    width: auto;
    background-color: rgba(0, 0, 0, 0);
}